@font-face {
    font-family: 'LOTTERIACHAB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: rgba(248, 255, 251, 1);
    font-family: Pretendard;

}
.contanier {
    display: flex;
    width: 1920px;
    height: 1080px;
}