.drink-create-container {
    margin: 0 85px;
    width: 100%;
    height: 790px;

}
.drink-create-header {
    display: flex;
    width: 100%;
    justify-content: space-between;

    h1 {
        font-size: 48.99px;
        font-weight: 600;
        margin-top: 81px;
    }
    >div {
        display: flex;
        gap: 10px;
    }
    .cancel-btn {
        background-color: rgba(238, 238, 238, 1);
        margin-top: 104px;
        border-radius: 16px;
        font-size: 22.67px;
        width: 249px;
        height: 63px;
        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);

    }
    .save-btn {
        background-color: rgba(121, 154, 234, 1);
        margin-top: 104px;
        border-radius: 16px;
        font-size: 22.67px;
        color: rgba(255, 255, 255, 1);
        font-weight: 700;
        width: 249px;
        height: 63px;
        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);

    }
}
.drink-create-main-container {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.1), 2px 2px 6px 0px rgba(0, 0, 0, 0.1), 0px 16px 24px 0px rgba(0, 0, 0, 0.07);
    width: 100%;
    margin-top: 27px;
    border-radius: 19px;
    height: 790px;
}
.drink-create-top {
    display: flex;
    width: 1548px;
    padding: 19px 51px;
    justify-content: space-between;
    width: 100%;
        
    >div {
        display: flex;
        justify-content: space-evenly;
        height: 71px;
    }
    header {
        display: flex;
    }
    .select-date {
        background-color: rgb(255, 255, 255);
        box-shadow: none;
        display: flex;
        align-items: center;

        >p {
            width: 128px;
            font-weight: 600;
            font-size: 31.12px;
            
        }
        .down-icon {
            width: 36px;
            height: 33px;
        }
    }

}

    .drink-create-top-box {
        display: flex;
        font-size: 17.5px;
        width: 425px;
        height: 71px;
        margin-left: 17px;
        align-items: center;
        justify-content: space-evenly;

        background-color: rgba(246, 246, 246, 1);
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
        border-radius: 20.96px;
        height: 71px;

        >p {
            font-weight: 600;
        }
        >div {
            display: flex;
            align-items: flex-end;
        }

        img {
            width: 50px;
            height: 50px;
            filter: grayscale(1);
            cursor: pointer;
            &:hover {
                filter:grayscale(0)
            }

        }
    }

.drink-time-dropdown-container {
    width: 369px;
    display: flex;
    font-size: 24.81px;

    .drink-time-dropdown-toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 24.81px;
        padding: 0 29px;
        width: 369px;
        cursor: pointer;
    }
}
.drink-time-dropdown-container {
    position: relative;
    display: in2-block;
    border-radius: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    width: 369px;
    transition: 0.2s ease-in-out;
}
  
.drink-time-dropdown-options {
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    border-radius: 20px;
    width: 100%;
    z-index: 1;
}
  
.drink-time-dropdown-option {
    height: 71px;
    cursor: pointer;
    border-top: 0.5px solid rgba(199, 199, 199, 0.7);
    border-right: 0px solid rgba(199, 199, 199, 0.7);
    border-bottom: 0.5px solid rgba(199, 199, 199, 0.7);
    border-left: 0px solid rgba(199, 199, 199, 0.7);
    border-radius: 5px;
    font-size: 24.81px;
    display: flex;
    align-items: center;
    padding: 0 29px;

    &:nth-child(1) {
        justify-content: space-between;
    }
    &:hover {
      background: #f0f0f0;
    }
}
.container-line {
    width: calc(100% - 102px);
    margin: 0 51px;
    border: 0.5px solid rgba(180, 180, 180, 1)
}
.down-icon {
    width: 36px;
    height: 33px;
    margin-left: 9px;
}
.drink-create-type-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.type-container {
    display: flex;

    h2 {
        font-size: 36.44px;
        font-weight: 600;
    }
    h3 {
        font-size: 20px;
        font-weight: 500;
    }
    p {
        font-size: 13.36px;
        font-weight: 400;
    }
    .plus-minus-btns {
        display: flex;
        align-items: center;

        >img:nth-child(1) {
            width: 23.19px;
            height: 2.9px;
        }
        >img:nth-child(2) {
            width: 23.19px;
            height: 23.19px;
        }
    }
}
.drink-options-big-container {
    display: flex;
    padding: 39px 51px 0 51px;
    // gap: 51px;

    .alcohol-quantity {
        display: flex;
        margin-top: 43px;
        color: rgba(155, 155, 155, 1);

    }
    .alcohol-quantity:nth-child(1) {
        margin-top: 0;
    }
    .drink-type {
        margin-left: 40.47px;
        width: 261px;
        display: flex;
        align-items: center;
        position: relative;
    }
    .drink-description2 {
        position: absolute;
        bottom: -16px;
        font-weight: 200;
        width: 237px
    }
}
.drink-options-group {
    width: 50%;
    .checkbox-icon {
        cursor: pointer;
        width: 39.21px;
        height: 39.21px;
    }

    
    .quantity-control {
        display: flex;
        align-items: center;
        width: 147.23px;
        justify-content: space-between;
        margin-left: 15px;
    }
    .quantity-btn {
        border-radius: 50%;
        border: 1.45px solid rgba(204, 204, 204, 1);
        width: 37.68px;
        height: 37.68px;
        padding: 5px;
        cursor: pointer;

    }
    .minus {
        width: 23.19px;
        height: 2.9px;
    }
    .plus {
        width: 23.19px;
        height: 23.19px;
    }
    .quantity {
        font-size: 32.87px;
    }
    .quantity.active {
        color: black;
    }
    .drink-type.active {
        color: black;
    }
    .drink-type-name {
        font-weight: 600;
        font-size: 36.44px;
    }
    .drink-type-name.active {
        color: black;
    }
    
    .drink-description {
        font-size: 23.87px;
    }
     .drink-description2 {
        font-size: 13.36px;
    }
    
    .drink-description2.active {
        color: black;
    }
    .active {
        color: black;
    }

}
.ment-container {
    position: relative;
    .ment1 {
        color: rgba(121, 154, 234, 1);
        text-align: center;
        // width: 756px;
        letter-spacing: -1.5px;
        font-size: 25.13px;
        margin-top: 55.88px;
        margin-bottom: 15px;
    }
    >div {
        position: absolute;
        color: rgb(118, 118, 118);
        right: 0;
        flex-direction: column;
        display: flex;
        align-items: flex-end;
        bottom: 0;
        margin-right: 51px;
        font-size: 18.94px;

        >div {
            display: flex;
            align-items: flex-end;
            gap: 3px;
            line-height: 22.6px;

            >p {
                font-size: 15px;
                margin-right: 4px;
            }
            >span {
                display: flex;
                font-size: 18.94px;
                p {
                    font-weight: 600;
                    gap: 2px;
                }
            }
        }
    }
    >p {
        font-size: 18.94px;
    }

}
.container-line2 {
    width: calc(100% - 102px);
    margin: 11px 51px 0 51px;
    border: 0.5px solid rgba(180, 180, 180, 1)

}

.memo-container {
    margin: 27px 51px;
    h2 {
        font-size: 31.12px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    input {
        border: 0.7px solid rgba(166, 166, 166, 1);
        height: 220px;
        width: 100%;
        margin-bottom: 38px;
        padding: 19px;
        font-size: 27.66px;
    }
    input::placeholder {
        font-size: 27.66px;
        top: 10px;
        position: absolute;
    }
}